<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
		<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
		
		<script type="text/javascript" src="/js/script.js"></script>
		<script type="text/javascript" src="/lib/angular-utils-pagination/dirPagination.js"></script>
	</head>
	<body ng-app="myApp">
		<a ui-sref="list">List</a>
		<a ui-sref="new">New</a>
		{{{ body }}}
	</body>
</html>